
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  color: green;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="file"],
select,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.gender,
.subject {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.gender label,
.subject label {
  margin: 0 10px 0 0;
}

textarea {
  height: 80px;
  resize: vertical;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.reset-button,
.submit-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
  margin: 5px;
}

.reset-button:hover,
.submit-button:hover {
  background-color: darkgreen;
}
